{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<form class="container justify-content-center align-items-center mt-5" style="max-width: 33rem;" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="card p-5">
        <h3>{% trans "Log In" %}</h3>
        <p class="mb-3">Welcome to Movie Reviews!</p>
        <div class="row justify-content-start">
            <div class="col-sm-12 mt-2 mb-3">
                {{ form.login.label_tag }}
                <input type="text" class="form-control" id="name" name="{{ form.login.name }}">
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-sm-12 mt-2">
                {{ form.password.label_tag }}
                <input type="password" class="form-control" id="inputPassword3" name="{{ form.password.name }}">
            </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <div class="row justify-content-center mt-2">
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-success d-grid col-6 mt-2">{% trans "Log In" %}</button>
            </div>
        </div>
        <div class="mt-5">
            <p class="">{% blocktrans %} If you don't have an account,
                <a class="link" href="{{ signup_url }}">Sign Up Here!</a>{% endblocktrans %}
            </p>
        </div>
    </div>
</form>
{% endblock %}