<div class="container justify-content-center align-items-center mt-5" style="max-width: 33rem;">
    <div class="card p-5">
        <div class="card-body">
            <h1 class="row justify-content-center">Sign Out?</h1>
        </div>
        <br>
        <p class="row justify-content-center mb-5">Are you sure?</p>
        <form method="post" action="">
            <input type="hidden" name="" value="" />
            <button class="btn btn-danger d-grid gap-2 col-6 mx-auto" type="submit">Sign out</button>
        </form>
    </div>
</div>