/* footer */
#footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 100%;
}

/* Social media icons */
#social-media {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  font-size: 180%;
  margin: 20px;
  list-style: none;
}

#facebook {
  color: #4267b2;
}

#twitter {
  color: white;
}

#youtube {
  color: #ff0000;
}

#instagram {
  color: #c13584;
}