<div class="col-lg-7">
    <div class="contact">
        <!-- Contact form -->
        <div class="row">
            <div class="col-md-6 mb-4">
                <input type="text" class="form-control" name="name" placeholder="Name" id="name" required>
            </div>
            <div class="col-md-6  mb-4">
                <input type="email" class="form-control" name="email" placeholder="Email Address" id="email" required>
            </div>

            <div class="col-md-12 mb-4">
                <input type="text" name="Topic" class="form-control" placeholder="Topic" required="required">
            </div>
            <div class="col-md-12 mb-4">
                <textarea rows="8" class="form-control" name="message" placeholder="Message" id="message"
                    required></textarea>
            </div>

            <div class="col-md-12 mb-4">
                <button type="submit" class="btn btn-primary" id="sendMessageButton" style="width: 100%;">Send</button>
            </div>
        </div>
    </div>
</div>