{% extends "base.html" %} {% block content %}

<!-- Review content -->

<div class="container container-table">
    <div class="row">
        {% for review in review_list %}
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card my-2" style="width: 18rem;">
                {% if "placeholder" in review.featured_image.url %}
                <img src="https://placehold.co/600x400/png" class="card-img-top" alt="...">
                {% else %}
                <img class="card-img-top" src="{{ review.featured_image.url }}" alt="..." />
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ review.title }}</h5>
                    <h6 class="card-text my-2">{{ review.author }}</h6>
                    <p class="card-text">{{ review.category }}</p>
                    <p class="card-text">{{ review.excerpt }}</p>
                    <p class="card-text">{{ review.created_on }}
                        <hr>
                        <i class="fa-regular fa-thumbs-up"></i>{{ review.number_of_likes }}
                        <i class="fas fa-star" id="star-rating"></i>
                        <label class="text-primary">{{ review.rating }}</label>
                    </p>
                    <hr />
                    <a href="{% url 'review_detail' review.slug %}" class="btn view">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Page navigation -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
            </li>
            {% endif %} {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}     
</div>
{% endblock %}
