{% extends "base.html" %} {% block content %}


<div class="container my-5">
    <div class="card text-center">
        <h2>Welcome to Movie Reviews!</h2>
        <p class="mt-2">Welcome! This is a site where you can review, read movie reviews, interact with people & share
            your opinions for others to see.</p>
        <p>Enjoy your stay!</p>
    </div>
</div>

<!-- Review content -->

<div class="container container-table">
    <div class="row">
        {% for review in review_list %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div id="card-content" class="card my-2">
                {% if "placeholder" in review.featured_image.url %}
                <img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="image of different movie posters">
                {% else %}
                <img class="card-img-top" src="{{ review.featured_image.url }}" alt="image of the movie"/>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ review.title }}</h5>
                    <h6 class="card-text my-3">{{ review.author }}</h6>
                    <p class="card-text">{{ review.category }}</p>
                    <p class="card-text">{{ review.excerpt }}</p>
                    <hr>
                        <i class="fa-regular fa-thumbs-up"></i>{{ review.number_of_likes }}
                        <i class="fas fa-star" id="star-rating"></i>
                        <label class="text-primary">{{ review.rating }}</label>
                    <hr />
                    <a href="{% url 'review_detail' review.slug %}" class="btn view">Read Review</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Page navigation -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous page</a>
            </li>
            {% endif %} {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next page &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
