<div class="review-detail">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row p-2">
                <div class="img-fluid">
                    <img class="" src="http://www.reellifewisdom.com/files/images/braveheart.bmp" alt="">
                </div>
                <br>
                <div class="review-title col-12 col-md-6 col-lg-6">
                    <h2 class=""> Movie Title</h2>
                    <div class="">
                        <label class="text-primary">Author name,</label>
                        <span class="fs-5">Time added</span>
                    </div>
                    <div class="movie-review-content">Movie review
                        <p>Lorem Ipsum</p>
                    </div>
                    <div>Like & more?
                        <img src="" alt="">
                    </div>
                    <hr class="my-5">
                    <div>
                    <h2>New Comment</h2>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <button type="submit" class="btn btn-primary justify-content-end mt-2">Submit</button>
                    </div>
                    <br>
                    <div>
                        <h2>Comment section</h2>
                        <div>Written comments</div>
                        <div>Date written</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>